{% extends "base_template.html" %}

{% block title %}
Distribution of Sentiments
{% endblock %}

{% block maincode %}
   <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      google.charts.load('current', {'packages':['corechart','table','controls']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
      
        var comment_data = get_full_comments();

        var histChart = new google.visualization.ChartWrapper({
          'chartType': 'Histogram',
          'containerId': 'histogram_div',
          'options': {
            bucketSize: 0.2,
            maxNumBuckets: 20,
            minValue: -1,
            maxValue: 1,
            chartArea: {'width': '80%', 'height': '80%'},
            legend: {position: 'none'},
          },
          'view': {'columns': [SCORE]}
        });

        var dashboard = new google.visualization.Dashboard(
            document.getElementById('dashboard_div'));

        var semesterFilter = new google.visualization.ControlWrapper({
          'controlType': 'CategoryFilter',
          'containerId': 'semester_filter_div',
          'options': {
            'filterColumnLabel': 'Semester',
          }
        });

        var sectionFilter = new google.visualization.ControlWrapper({
          'controlType': 'CategoryFilter',
          'containerId': 'section_filter_div',
          'options': {
            'filterColumnLabel': 'Section',
          }
        });

        var questionFilter = new google.visualization.ControlWrapper({
          'controlType': 'CategoryFilter',
          'containerId': 'question_filter_div',
          'options': {
            'filterColumnLabel': 'Question',
          }
        });


        dashboard.bind([semesterFilter,sectionFilter,questionFilter], histChart);

        dashboard.draw(comment_data);

      }
    </script>
{% endblock %}

{% block maincontent %}

      <!--div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Distribution of Sentiments</h1>
      </div-->

<p style="margin-top:1rem;margin-bottom:0;">This graph shows a histogram of the sentiments of the selected comments.  The controls below can be used to filter the comments to see data for only a selected section, year, or question.  If multiple filters are specified, they are AND'ed together.</p>

      <!--Divs that will hold each control and chart-->
      <div id="semester_filter_div"></div>
      <div id="section_filter_div"></div>
      <div id="question_filter_div"></div>
      <div id="histogram_div" style="height: 500px;"></div>
      
{% endblock %}
